<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koko.spzx.mapper.SysRoleMapper">

    <sql id="columns">
        id, role_name, role_code, description, create_time, update_time, is_deleted
    </sql>

    <resultMap id="sysRoleMap" type="com.koko.spzx.model.entity.system.SysRole" autoMapping="true"/>

    <!--List<SysRole> findByPage(SysRoleDto sysRoleDto);-->
    <select id="findByPage" resultMap="sysRoleMap">
        SELECT
        <include refid="columns"/>
        FROM sys_role
        <where>
            <if test="roleName!=null and roleName!=''">
                role_name LIKE CONCAT('%',#{roleName},'%')
            </if>
            and is_deleted = 0
        </where>
    </select>

    <!--
    int insert(SysUser sysUser);
    int update(SysUser sysUser);
    int delete(Long roleId);
    -->
    <insert id="insert">
        INSERT INTO sys_role (role_name, role_code, description)
        VALUES (#{roleName}, #{roleCode}, #{description})
    </insert>

    <update id="update">
        UPDATE sys_role
        <set>
            <if test="roleName!=null and roleName!=''">
                role_name=#{roleName},
            </if>
            <if test="roleCode!=null and roleCode!=''">
                role_code=#{roleCode},
            </if>
            <if test="description!=null and description!=''">
                description=#{description},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!-- 删除角色(逻辑删除，修改标识) -->
    <update id="delete">
        UPDATE sys_role
        SET is_deleted = 1
        WHERE id=#{id}
    </update>

</mapper>